# taken from https://github.com/marketplace/actions/jsdoc-action
name: GitHub pages

on:
  push:
    branches:
      - master


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./types
          output_dir: ./docs
          template: minami
          front_page: README.md

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          deploy_branch: gh-pages
          deploy_folder: ./docs