# taken from https://github.com/marketplace/actions/jsdoc-action
name: GitHub pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: jsdoc-action does not support d.ts
        run: |
          find . -name "*.d.ts" -exec bash -c 'mv "$1" "${1%.d.ts}".ts' - '{}' +
      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./types
          recurse: true
          output_dir: ./out
          template: minami
          front_page: README.md
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out